# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment
.env
.env.*

# Django
*.sqlite3

# macOS
.DS_Store

# Docker
Dockerfile
.dockerignore

# Node.js
node_modules/

# IDEs
.vscode/
.idea/
.venv/
venv
uploads/*